@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: column;
}
.section h2 {
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 166%;
  letter-spacing: 2.8px;
  margin-bottom: 50px;
}
.section p {
  color: #565656;
  font-family: "Lato", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.95px;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

header {
  display: flex;
  align-items: center;
  height: 100px;
}
header h1 {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 8px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
main .fashion-platform {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
main .fashion-platform h2 {
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 2.4px;
}
main .description p {
  max-width: 570px;
  width: 100%;
}
main .first-screen p {
  max-width: 1170px;
  width: 100%;
  margin-top: 20px;
}
main .second-screen p {
  max-width: 1170px;
  width: 100%;
  margin-top: 20px;
}
main .third-screen p {
  max-width: 1170px;
  width: 100%;
  margin: 20px 0 90px 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0 30px 0;
  background-color: #F4F4F4;
}
footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-wrapper .cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .footer-wrapper .cta h2 {
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 2.4px;
  margin-bottom: 15px;
}
footer .footer-wrapper .cta p {
  text-align: center;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.6px;
  margin-top: 15px;
}
footer .footer-wrapper .socials svg {
  width: 24px;
  height: 24px;
  --social_icon_color: #565656;
}
footer .footer-wrapper .socials nav ul {
  display: flex;
  gap: 23px;
}
footer .footer-wrapper .socials nav ul li a {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #565656;
}
footer .footer-wrapper .socials nav ul li a:hover {
  background: #565656;
}
footer .footer-wrapper .socials nav ul li a:hover svg {
  --social_icon_color: #FFF;
}
footer p {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.2px;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  footer {
    padding: 50px 0;
  }
  footer .footer-wrapper {
    align-items: center;
    flex-direction: column;
  }
  footer .footer-wrapper .cta {
    align-items: center;
  }
  footer .footer-wrapper .cta h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  footer .footer-wrapper .cta p {
    margin-top: 0;
    margin-bottom: 15px;
  }
  footer .footer-wrapper .socials {
    margin: 30px 0 40px 0;
  }
  footer p {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
