@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  box-sizing: border-box;
}

.container {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
}

header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  padding: 53px 100px 0 100px;
}
header .navigation {
  display: flex;
  align-items: center;
  max-width: 515px;
  width: 100%;
}
header .navigation ul {
  display: flex;
  align-items: center;
  max-width: 515px;
  width: 100%;
  justify-content: space-between;
}
header .navigation ul li a {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #FFF;
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: unset;
}
header .navigation ul li a:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
}
header .navigation ul li a.active:before {
  background-color: white;
}
header .socials {
  max-width: 160px;
  width: 100%;
}
header .socials nav {
  display: flex;
  align-items: center;
}
header .socials nav ul {
  max-width: 160px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .socials nav ul li a {
  text-decoration: unset;
  border: 1px solid white;
  border-radius: 50%;
  padding: 11px 13px;
}
header .socials nav ul li .facebook {
  padding: 11px 15px;
}

.header__sticky {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 5000px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  background: linear-gradient(90deg, rgb(85, 183, 255) 0%, rgb(126, 90, 255) 100%);
  padding: 40px;
}

#about-us {
  position: relative;
  margin-top: -54px;
  height: 100vh;
  width: 100%;
  background-image: url("img/background-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#about-us .swiper {
  max-width: 1350px;
  width: 100%;
  height: 250px;
  --swiper-pagination-bullet-vertical-gap: 50px;
}
#about-us .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
#about-us .swiper .swiper-wrapper .swiper-slide .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#about-us .swiper .swiper-wrapper .swiper-slide .text h2 {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8px;
}
#about-us .swiper .swiper-wrapper .swiper-slide .text p {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.4px;
}
#about-us .swiper .swiper-pagination-bullet {
  background-color: unset;
  opacity: 1;
  border: 1px solid #fff;
  gap: 10px;
}
#about-us .swiper .swiper-pagination-bullet-active {
  background-color: #fff;
}
#about-us a img {
  position: absolute;
  bottom: 50px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 16px 15px;
}

#projects {
  padding-top: 130px;
  margin-bottom: 150px;
}
#projects h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #2C4058;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 135px;
}
#projects h2:before {
  content: "";
  display: block;
  width: 100px;
  border: solid 1px black;
  margin-bottom: 30px;
}
#projects .projects-wrapper .first-project .project-1, #projects .projects-wrapper .first-project .project-2, #projects .projects-wrapper .second-project .project-1, #projects .projects-wrapper .second-project .project-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
#projects .projects-wrapper .first-project .project-1 img, #projects .projects-wrapper .first-project .project-2 img, #projects .projects-wrapper .second-project .project-1 img, #projects .projects-wrapper .second-project .project-2 img {
  max-width: 585px;
  width: 100%;
  height: 470px;
}
#projects .projects-wrapper .first-project .project-1 .content p, #projects .projects-wrapper .first-project .project-2 .content p, #projects .projects-wrapper .second-project .project-1 .content p, #projects .projects-wrapper .second-project .project-2 .content p {
  color: #2C4058;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#projects .projects-wrapper .first-project .project-1 .content h3, #projects .projects-wrapper .first-project .project-2 .content h3, #projects .projects-wrapper .second-project .project-1 .content h3, #projects .projects-wrapper .second-project .project-2 .content h3 {
  color: #2C4058;
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#projects .projects-wrapper .first-project .project-1 .content .paragraph, #projects .projects-wrapper .first-project .project-2 .content .paragraph, #projects .projects-wrapper .second-project .project-1 .content .paragraph, #projects .projects-wrapper .second-project .project-2 .content .paragraph {
  color: #2C4058;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  max-width: 470px;
  width: 100%;
  margin: 19px 0 40px 0;
}
#projects .projects-wrapper .first-project .project-1 .content a, #projects .projects-wrapper .first-project .project-2 .content a, #projects .projects-wrapper .second-project .project-1 .content a, #projects .projects-wrapper .second-project .project-2 .content a {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: unset;
  border: 1px solid #2C4058;
  background-color: white;
  padding: 16px 41px 17px 41px;
}
#projects .projects-wrapper .first-project .project-1 .content .mark, #projects .projects-wrapper .first-project .project-2 .content .mark, #projects .projects-wrapper .second-project .project-1 .content .mark, #projects .projects-wrapper .second-project .project-2 .content .mark {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
}
#projects .projects-wrapper .first-project .project-1 .content .mark img, #projects .projects-wrapper .first-project .project-2 .content .mark img, #projects .projects-wrapper .second-project .project-1 .content .mark img, #projects .projects-wrapper .second-project .project-2 .content .mark img {
  width: 9px;
  height: 17px;
}
#projects .projects-wrapper .first-project .project-1 .content .mark p, #projects .projects-wrapper .first-project .project-2 .content .mark p, #projects .projects-wrapper .second-project .project-1 .content .mark p, #projects .projects-wrapper .second-project .project-2 .content .mark p {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
#projects .projects-wrapper .first-project .project-1-wrapper {
  position: relative;
  margin-bottom: 200px;
}
#projects .projects-wrapper .first-project .project-1-wrapper .background-project-1 {
  position: absolute;
  left: -115px;
  top: -45px;
  background: #55B7FF;
  max-width: 585px;
  width: 100%;
  height: 470px;
  z-index: -1;
}
#projects .projects-wrapper .second-project .project-2-wrapper {
  position: relative;
}
#projects .projects-wrapper .second-project .project-2-wrapper .background-project-2 {
  position: absolute;
  right: -115px;
  top: -45px;
  background: #7E5AFF;
  max-width: 585px;
  width: 100%;
  height: 470px;
  z-index: -1;
}

#news, #contact {
  height: 800px;
}

#news {
  background-color: blue;
}

#contact {
  background-color: green;
}

/*# sourceMappingURL=style.css.map */
