@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100&display=swap');
header {
  width: 1440px;
  height: 80px;
  .content {
    width: 1200px;
    margin: 17px 120px;
    img, nav, button {
      display: inline-block;
    }
    .product {
      color: #F90;
      font-family: 'Montserrat';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      display: inline-block;
      margin-left: 161px;
    }
    .customers {
      color: #2F281E;
      font-family: 'Montserrat';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      display: inline-block;
      margin: 0 20px;
    }
    .pricing {
      color: #2F281E;
      font-family: 'Montserrat';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      display: inline-block;
      margin-right: 20px;
    }
    .resources {
      color: #2F281E;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: 'Montserrat';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      display: inline-block;
      margin-right: 161px;
    }
    .sign_in {
      border-radius: 4px;
      border: 1px solid #BCD0E5;
      color: #2F281E;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      background-color: white;
      width: 110px;
      height: 46px;
      margin: 13px 25px;
    }
    .sign_up {
      border-radius: 4px;
      background: #F90;
      color: #FFF;
      font-family: 'Montserrat';
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      width: 110px;
      height: 46px;
      padding: 9px 21px;
      margin-left: 32px;
    }
  }
}
main {
  .first-screen {
    width: 1200px;
    height: 500px;
    margin: 70px 120px;
    .left-side {
      display: inline-block;
      margin-right: 52px;
      h1 {
        color: #2F281E;
        font-family: 'Montserrat';
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 54px;
        margin-top: 97px;
      }
      p {
        color: #544837;
        font-family: 'Montserrat';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin: 30px 0 20px;
      }
      button {
        border-radius: 4px;
        background: #F90;
        color: #FFF;
        text-align: center;
        font-family: 'Poppins';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 13px 40px;
      }
    }
    img {
      display: inline-block;
      padding-bottom: 235px;
    }
  }
}
footer {
  .content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 70px 120px;
    img {
      width: 200px;
      height: 32px;
    }
    .links {
      h2 {
        color: #2F281E;
        font-family: Gotham;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 30px;
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        li {
          color: #544837;
          font-feature-settings: 'clig' off, 'liga' off;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 26px; /* 162.5% */
        }
      }
    }
    .stuff {
      h2 {
        color: #2F281E;
        font-family: Gotham;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 30px;
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        li {
          color: #544837;
          font-feature-settings: 'clig' off, 'liga' off;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 26px;
        }
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 25px;
      h2 {
        color: #2F281E;
        font-family: Gotham;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
      }
      input {
        display: flex;
        width: 340px;
        height: 50px;
        padding: 0px 10px;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        border: 1px solid #BCD0E5;
        color: #BCD0E5;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      button {
        display: flex;
        width: 180px;
        height: 50px;
        padding: 13px 40px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background: #F90;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}
